body{
    background-color: blue;
    color: white;
    font-family: "Edu VIC WA NT Hand Pre", sans-serif;
    margin: 0px;
}

header{
    font-size: 25px;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}